
body {
  background-color: #f4f4f4;
}

.input-a {
  padding: 20px;
}

.img-container {
  width: 100%;
  height: auto;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
    input {
      width: 70%;
      font-size: 14px;
    }

    .input-a{
        padding-top: 20%;
     }
     .form-control {
      width: 100% !important;
  }

  }
  

  @media (max-width: 480px) {
    input {
      width: 80%;
      font-size: 12px;
      
    }
    .input-a{
        padding-top: 20%;
     }
     

  }
